:root {
  --red-color: invert(26%) sepia(89%) saturate(5944%) hue-rotate(346deg)
    brightness(96%) contrast(102%);

  --blue-color: invert(35%) sepia(84%) saturate(3444%) hue-rotate(192deg)
    brightness(95%) contrast(87%);
}

.sub-list {
  display: flex;
  align-items: center;
  background-color: white;
  width: 94%;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 2px;
  margin: 2px 0;
}

.hidden-checkbox {
  display: none;
}

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: black;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  width: 18px;
  height: 18px;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--accent-color, lime);
}

input[type="checkbox"]:checked + .check svg {
  stroke: var(--accent-color, lime);
}

input[type="checkbox"]:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

input[type="checkbox"]:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

.sub-list label {
  margin-left: 4px;
  margin-right: 8px;
}

.sub-list input:last-child {
  width: 90%;
  border: none;
  border-bottom: 1px solid black;
}

.sub-list p,
.sub-list del {
  margin: 0;
  flex-grow: 1;
}

.sub-list img {
  width: 20px;
  height: 20px;
  margin: 0 4px;
  cursor: pointer;
}

#modify-icon:hover {
  filter: var(--blue-color);
}

#delete-icon:hover {
  filter: var(--red-color);
}
